@import "./base.css";

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */

  /* font-weight: normal; */
}

p {
  padding-bottom: 10px;
  text-indent: 20px;
}

.table-label {
  font-size:large;
  color: #888;
  /* font-weight: 500; */
}

.left-title {
  width: 30px;
  writing-mode: vertical-lr;
  transform:scale(-1);
}

.pre-wrap {
  white-space: pre-wrap;
}

.btn-main {
  width: 160px;
}

.font-title {
  font-family: 'Audiowide', cursive;
  font-size: 24px;
}

/* .main-toolbar {
  background-color: black !important;
}  */

.source-title {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  color: #555;
}